body
  margin: 0
  background: #111

.container
  background: #FFF
  width: 600px
  margin: 0 auto
  border-right: 1px solid #111
  border-left: 1px solid #111
  border-bottom: 1px solid #111

.header, .sidebar, .main, .footer
  float: left
  margin-right: 10px

.header, .footer
  width: 600px
  margin-right: 0

.sidebar
  padding: 10px
  width: 100px
  background: #FFF

.main
  width: 460px
  margin-right: 0
  clear: right
  padding: 10px 10px 0 0

.footer
  float: none
  clear: both
  background: #FFF
  text-align: center