body
  margin: 0
  background: #333

.container
  background: #FFF
  width: 600px
  margin: 0 auto
  border: 1px solid #111

.header, .sidebar, .main, .footer
  float: left
  margin-right: 10px

.header, .footer
  width: 600px
  margin-right: 0

.sidebar
  width: 100px
  background: #FFF

.main
  width: 490px
  margin-right: 0
  clear: right

.footer
  float: none
  clear: both
  background: #FFF
  text-align: center